<!DOCTYPE html>



<head>
    <!-- Aqui temos algumas explicações e é explorado mais sobre como os metadados funcionam:
            - https://www.devmedia.com.br/html-meta-tags-entendendo-o-uso-de-meta-tags/30328
    -->
    <meta charset="UTF-8" />
    <meta name="copyright" content="© 2022 Sukey - Reconectar" />

    <title>Sukey</title>

    <link rel="stylesheet" href="../static/css/aside.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/cabecalho.css">
    <link rel="stylesheet" href="../static/css/comunidade.css">
    <link rel="stylesheet" href="../static/css/produtos.css">
    <link rel="stylesheet" href="../static/css/rodape.css">
</head>

<body>
    <header class="header">
        <section class="cabecalho_principal">
            <a href="index.html"><img class="logo_img" src="../static/img/logo.png" /></a>
            <ul class="menu_superior">
                <li><a href=""><img class="favoritos_img" src="../static/img/bolsa-de-compras.png" /></a></li>
                <li><a href=""><img class="favoritos_img" src="../static/img/coracao.png" /></a></li>
            </ul>
        </section>
    </header>
    <main>
        
            <ul class="listacarrinho"> 
                <li>
                    <div class="carrinho">
                        <h1> EMERY ROSE </h1>
                        <img
                            src="https://img.ltwebstatic.com/images3_pi/2021/12/16/1639625871c0ae29440c484e28228d8deb0145e87e_thumbnail_600x.webp" />
                        <p>Descrição do produto</p>
                        
                    </div>
                </li>  
            </ul>
        <button>finalizar compra</button>
    </main>