<!DOCTYPE html>


<!--
    Lang="pt-BR" não interferem no HTML, são apenas valores pra informar qual o idioma se encontra,
    por exemplo alguns navegadores possuem detecção de idioma da página e eles podem repassar
    pra algum plugin isso, ou um plugin (add-on/extensão) podem usar o atributo diretamente.
-->
<html lang="pt-BR">

<head>
    <!-- Aqui temos algumas explicações e é explorado mais sobre como os metadados funcionam:
            - https://www.devmedia.com.br/html-meta-tags-entendendo-o-uso-de-meta-tags/30328
    -->
    <meta charset="UTF-8" />
    <meta name="copyright" content="© 2022 Sukey - Reconectar" />

    <title>Sukey</title>

    <link rel="stylesheet" href="../static/css/aside.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/cabecario.css">
    <link rel="stylesheet" href="../static/css/comunidade.css">
    <link rel="stylesheet" href="../static/css/produtos.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <header class="header">
        <section class="cabecalho_principal">
            <img class="logo_img" src="../static/img/logo.png" />
            <ul class="menu_superior">
                <li><a href=""><img class="favoritos_img" src="../static/img/bolsa-de-compras.png" /></a></li>
                <li><a href=""><img class="favoritos_img" src="../static/img/coracao.png" /></a></li>
            </ul>
        </section>
    </header>
    <aside>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </aside>
    <main>
        <section class="comunidade">
            <textarea></textarea>
            <button>Enviar Comentário</button>
        </section>
        <section>
            <ul class="produtos">
                <li>
                    <div class="produto_detalhe">
                        <h1> Blusa Cinza Soltinha </h1>
                        <img
                            src="https://ph-cdn3.ecosweb.com.br/imagens01/foto/plus-size-feminino/blusa-manga-curta/blusa-cinza-soltinha-com-decote-v_272399_600_1.jpg" />
                        <p>Descrição do produto</p>
                        <span><button>Comprar</button></span>
                    </div>
                </li>
                <li>
                    <div class="produto_detalhe">
                        <h1> EMERY ROSE </h1>
                        <img
                            src="https://img.ltwebstatic.com/images3_pi/2021/12/16/1639625871c0ae29440c484e28228d8deb0145e87e_thumbnail_600x.webp" />
                        <p>Descrição do produto</p>
                        <span><button>Comprar</button></span>
                    </div>
                </li>
            </ul>
        </section>
    </main>
    <footer class="footer">
        <ul>
            <li><strong> Ajuda </strong></li>
            <div>
                <li><a href=""> Central de ajuda </a></li>
                <li><a title="Termos de uso" href=""> Termos de uso </a></li>
                <li><a title="Políticas de privacidade" href="...">Política de privacidade </a></li>
                <li><a title="Política de dados para parceiros" href="">Política de dados para parceiros </a></li>
            </div>
        </ul>
        </section>
    </footer>
</body>

</html>